<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH2R8jArJtWSp0qTRvGAERay4VthKhEMA</string>
	<key>GCM_SENDER_ID</key>
	<string>454172766493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cyberSecurity.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cyber-security-59459</string>
	<key>STORAGE_BUCKET</key>
	<string>cyber-security-59459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454172766493:ios:64362b6b670c49991f31f4</string>
</dict>
</plist>